<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gisiabaseEntities" connectionString="metadata=res://*/modelobase.csdl|res://*/modelobase.ssdl|res://*/modelobase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFECTEDLAPTOP;initial catalog=gisiabase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>