<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="gisiabaseEntities" connectionString="metadata=res://*/modelobase.csdl|res://*/modelobase.ssdl|res://*/modelobase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=COLI-LAPTOP;Initial Catalog=gisiabase;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
